@charset "utf-8";


/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,700'); */


 
:root {
    --theme: #FFD52E;
    --bgcolor:#303133;
    --purple: #a59ad7;
}
*{
    /* color: var(--theme); */
    font-family: 'Google Sans', sans-serif;
    letter-spacing: 0.05rem;
    /* background-color: var(--bgcolor); */
   

}


html,body {
    height: 100%;
    margin: 0;  
    font-size: 0.9rem !important;
    overflow: hidden !important;

} 